<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tentang Kami</title>
    <!--====== Favicon Icon ======-->
    <link
      rel="shortcut icon"
      href="../favicon.icon"
      type="image/png"
    />

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />

    <!--====== Unicons ======-->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="../assets/css/animate.min.css" />

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="../assets/css/magnific-popup.css" />

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="../assets/css/slick.css" />

    <!--====== Default css ======-->
    <link rel="stylesheet" href="../assets/css/custom-animation.css" />
    <link rel="stylesheet" href="../assets/css/default.css" />

    <!--====== Style css ======-->
    <link rel="stylesheet" href="../assets/css/style.css" />

    <style>
      .text-white {
        color: #fff;
      }
    </style>
  </head>
  <body>
        <!--====== APPIE HEADER PART START ======-->

        <header class="appie-header-area appie-header-2-area appie-sticky">
          <div class="container">
            <div class="header-nav-box">
              <div class="row align-items-center">
                <div class="col-lg-2 col-md-4 col-sm-5 col-6 order-1 order-sm-1">
                  <div class="appie-logo-box">
                    <a href="./../index.html">
                      <img src="../assets/images/logo-2.png" alt="" />
                    </a>
                  </div>
                </div>
                <div class="col-lg-8 col-md-1 col-sm-1 order-3 order-sm-2">
                  <div class="appie-header-main-menu ">
                    <ul>
                      <li>
                        <a href="pojokumkm.html" class="text-white">Pojok UMKM</a>
                      </li>
                      <li>
                        <a href="comingsoon.html" class="text-white">Penyedia Jasa Retail</a>
                      </li>
                      <li>
                        <a href="comingsoon.html" class="text-white">Teknologi Informasi Retail</a>
                      </li>
                      <li>
                        <a href="about.html" class="text-white">About</a>
                      </li>
                    </ul>
                  </div>
                </div>
    
    
              </div>
            </div>
          </div>
        </header>
    
        <!--====== APPIE HEADER PART ENDS ======-->

    <!--====== APPIE HERO PART START ======-->

    <section class="appie-hero-area appie-hero-3-area">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="appie-hero-content text-center mb-60">
              <h1 class="appie-title">Tentang Kami</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--====== APPIE HERO PART ENDS ======-->

    <!--====== APPIE TEAM PART START ======-->

    <section class="appie-team-area pt-90 pb-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="appie-section-title text-center">
              <h3 class="appie-title">Anggota Tim</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div
              class="appie-team-item mt-30 wow animated fadeInUp"
              data-wow-duration="2000ms"
              data-wow-delay="200ms"
            >
              <div class="thumb">
                <img src="../assets/images/team-1.jpg" alt="" />
              </div>
              <div class="content text-center">
                <h5 class="title">Benjamin Evalent</h5>
                <span>CEO-Founder</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div
              class="appie-team-item mt-30 wow animated fadeInUp"
              data-wow-duration="2000ms"
              data-wow-delay="400ms"
            >
              <div class="thumb">
                <img src="../assets/images/team-2.jpg" alt="" />
              </div>
              <div class="content text-center">
                <h5 class="title">Benjamin Evalent</h5>
                <span>CEO-Founder</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div
              class="appie-team-item mt-30 wow animated fadeInUp"
              data-wow-duration="2000ms"
              data-wow-delay="600ms"
            >
              <div class="thumb">
                <img src="../assets/images/team-3.jpg" alt="" />
              </div>
              <div class="content text-center">
                <h5 class="title">Benjamin Evalent</h5>
                <span>CEO-Founder</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div
              class="appie-team-item mt-30 wow animated fadeInUp"
              data-wow-duration="2000ms"
              data-wow-delay="800ms"
            >
              <div class="thumb">
                <img src="../assets/images/team-4.jpg" alt="" />
              </div>
              <div class="content text-center">
                <h5 class="title">Benjamin Evalent</h5>
                <span>CEO-Founder</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div
              class="appie-team-item mt-30 wow animated fadeInUp"
              data-wow-duration="2000ms"
              data-wow-delay="200ms"
            >
              <div class="thumb">
                <img src="../assets/images/team-1.jpg" alt="" />
              </div>
              <div class="content text-center">
                <h5 class="title">Benjamin Evalent</h5>
                <span>CEO-Founder</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div
              class="appie-team-item mt-30 wow animated fadeInUp"
              data-wow-duration="2000ms"
              data-wow-delay="400ms"
            >
              <div class="thumb">
                <img src="../assets/images/team-2.jpg" alt="" />
              </div>
              <div class="content text-center">
                <h5 class="title">Benjamin Evalent</h5>
                <span>CEO-Founder</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div
              class="appie-team-item mt-30 wow animated fadeInUp"
              data-wow-duration="2000ms"
              data-wow-delay="600ms"
            >
              <div class="thumb">
                <img src="../assets/images/team-3.jpg" alt="" />
              </div>
              <div class="content text-center">
                <h5 class="title">Benjamin Evalent</h5>
                <span>CEO-Founder</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div
              class="appie-team-item mt-30 wow animated fadeInUp"
              data-wow-duration="2000ms"
              data-wow-delay="800ms"
            >
              <div class="thumb">
                <img src="../assets/images/team-4.jpg" alt="" />
              </div>
              <div class="content text-center">
                <h5 class="title">Benjamin Evalent</h5>
                <span>CEO-Founder</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div
              class="appie-team-item mt-30 wow animated fadeInUp"
              data-wow-duration="2000ms"
              data-wow-delay="200ms"
            >
              <div class="thumb">
                <img src="../assets/images/team-1.jpg" alt="" />
              </div>
              <div class="content text-center">
                <h5 class="title">Benjamin Evalent</h5>
                <span>CEO-Founder</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--====== APPIE TEAM PART ENDS ======-->
  </body>
</html>
