@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* === ROOT VARIABLE === */
:root {
  --body-fonts: "Roboto", sans-serif;
  --primary-color: #08BDBA;
  --big-font-size: 3.5rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --normal-font-size: 1rem;

}

/* === BASE === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-fonts);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* === UTILITY === */

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.icon {
  width: 1rem;
}

/* === COMPONENTS === */

/* ----------------- Buttons --------------------- */
.btn {
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

/* ----------------- Accordion --------------------- */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Add icon */
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* === HEADLINE === */
.headline__container {
  display: grid;
  grid-template-columns: 1.2fr .8fr;
}

.headline__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.headline__content-title {
  font-size: var(--big-font-size);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.headline__content-text {
  font-size: var(--normal-font-size ));
  font-weight: 400;
  line-height: 1.5;
}

.headline__image {
  margin: 0 auto;
}

/* === Keuntungan ===  */
.keuntungan__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.keuntungan__image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keuntungan__image {
  margin-bottom: 1rem;
}

.keuntungan__content {
  display: flex;
}

.keuntungan__title {
  font-size: var(--h2-font-size);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.keuntungan__list {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.keuntungan__list-item-content-title {
  display: flex;
  margin-bottom: .3rem
}

.keuntungan__list-item-icon {
  margin-right: .6rem;
}

/* === Metrics === */
.metrics__container {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  padding: 2rem;
  border-radius: .5rem;
}

.metrics__heading {
  text-align: center;
  margin-bottom: 2rem;
}

.metrics__heading-title {
  font-size: var(--h2-font-size);
  font-weight: 800;
}

.metrics__numbers {
  display: flex;
}

.metrics__numbers div {
  text-align: center;
}

.metrics__numbers div h3 {
  font-size: var(--h2-font-size);
  font-weight: 800;
  line-height: 1.5;
}

/* === Store Location === */
.storeloc__heading {
  text-align: center;
  margin-bottom: 2rem;
}

.storeloc__heading-title {
  font-size: var(--h2-font-size);
  font-weight: 800;
  margin-bottom: .8rem;
}

.storeloc__heading-text {
  font-size: var(--normal-font-size);
  font-weight: 400;
  line-height: 1.5;
}

.storeloc__image {
  margin-bottom: 1rem;
}

.storeloc__image-caption {
  text-align: center;
  font-style: italic;
}

/* === Testimoni === */

.testimoni__heading {
  margin-bottom: 2rem;
}

.testimoni__heading-title {
  font-size: var(--h2-font-size);
  font-weight: 800;
  margin-bottom: .8rem;
}

.testimoni__list {
  display: flex;
  align-items: center;
  justify-content:center
}

.testimoni__item {
  display: grid;
  grid-template-columns: 1fr .5fr;
  background-color: #eaeaea;
  border-radius: 1rem;
  padding: 1.5rem;
}

.testimoni__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimoni__text-title {
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.testimoni__text-text {
  font-size: var(--normal-font-size);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.testimoni__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* === FAQ === */
.faq__heading {
  margin-bottom: 2rem;
}

.faq__heading-title {
  font-size: var(--h2-font-size);
  font-weight: 800;
  margin-bottom: .8rem;
}

.faq__qna-container {
  display: grid;
  grid-template-columns: 1fr .35fr;
  grid-gap: 1rem;
}



.faq__contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;

  background-color: #eaeaea;
}

/* === CTA === */
.cta {
  width: 100%;
  background-color: #eaeaea;
  height: 50vh;
  display: flex;
  align-items: center;
}

.cta__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.cta__heading-title {
  font-size: var(--h2-font-size);
  font-weight: 800;
  margin-bottom: .8rem;
}

/* === Footer ===  */
.footer {
  width: 100%;
  background-color: #404040;
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.footer__links-list {
  display: flex;
  gap: 1rem;
}

.footer__logo {
  text-align: center;
  margin-bottom: 1rem;
}

.footer__hr {
  color: #eaeaea
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.footer__socials-list {
  display: flex;
  gap: 1rem;
}
