@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* === ROOT VARIABLE === */
:root {
  --body-fonts: "Roboto", sans-serif;
}

/* === BASE === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-fonts);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* === COMPONENTS === */
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
