@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* === ROOT VARIABLE === */
:root {
  --body-fonts: "Roboto", sans-serif;
}

/* === RESET === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-fonts);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
